// Here you can add other styles
.app-header.navbar .navbar-brand{
    background-size: 130px auto;
}
.app-footer{
    background-color: white!important;
    border-top-color: white;
}

body {
    color: black;
    background-color: white!important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar-nav ul.nav > li:first-child {
    background:#20A8D8;
}
.sidebar-nav ul.nav > li:nth-child(2) {
    background: #4DBD74;
}
.sidebar-nav ul.nav > li:nth-child(3) {
    background: #F86C6B;
}
.sidebar-nav ul.nav > li:nth-child(4) {
    background: #FFC107;
}
body {
    color: black;
    background-color: white!important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul > li > a.active {
    background: inherit !important;
    color: black !important;
}

.-col-group > label {
    color: rgb(0, 0, 0) !important;
}

ul.-col-group > li > label {
    color: rgb(2, 2, 2) !important;
}

li.breadcrumb-item > .active {
    color: rgb(255, 255, 255) !important;
}
[data-toggle="collapse"] .fa:before {   
    content: "\f139";
  }
  
  [data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
  }
  